<%- include ('partials/header.ejs'); %>

<body>
    <%- include ('partials/navbar.ejs'); %>
    <div class="container card border-light mb-3">
        <hr>
        <h3><%= pergunta.titulo %> </h3>
        <i>
            <p class="description"><%= pergunta.descricao %> </p>
        </i>
        <hr>
        <form method="POST" action="/resposta">
            <label class="answers">Resposta: </label>
            <textarea placeholder="Digite sua resposta" name="body" rows="5"
                class=" text-answer form-control"> </textarea>
            <input type="hidden" name="pergunta" value="<%= pergunta.id %> ">
            <button class="btn btn-outline-success answers">Responder</button>
        </form>


    </div>
    <div class="answers-card card border-danger mb-3 container">
        
        <br>
        <h3>Respostas</h3>
        <hr>
     
        <% resposta.forEach(resposta =>{%>   
            <strong><p>Usuário 0<%= resposta.id %> diz: </p> </strong>
        <p class="answer-body"> <%= resposta.body %></p>
        <%   }) %>
    </div>
</body>
<%- include ('partials/footer.ejs') %>